
.root {
    -fx-background-color: #dddddd;
    -fx-font-size: 12pt;
    -fx-font-family: "Verdana", Arial, sans-serif;
}

.cardPane {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.topPane {
    -fx-background-color: #673AB7;
}

.bigbutton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            #FF9800;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.bigbutton:pressed {
    -fx-background-insets: 0,0, 0, 0;
    -fx-padding: 8 15 8 15;
}